<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>544473605697-4e74rmirhs9ml8e2dfmo2fksp50dstki.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.544473605697-4e74rmirhs9ml8e2dfmo2fksp50dstki</string>
	<key>API_KEY</key>
	<string>AIzaSyD1WFTsGWfLSX8JYQ9ufCsCWWx6RPb4Q4E</string>
	<key>GCM_SENDER_ID</key>
	<string>544473605697</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ibarraran.admissionApp</string>
	<key>PROJECT_ID</key>
	<string>admission-tool</string>
	<key>STORAGE_BUCKET</key>
	<string>admission-tool.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:544473605697:ios:7b3b66cb26e498676908c0</string>
</dict>
</plist>